<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MFRP INTEGRATION</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>searchcontroller3</display-name>
    <servlet-name>searchcontroller3</servlet-name>
    <servlet-class>com.catp.cgc.controller.searchcontroller3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchcontroller3</servlet-name>
    <url-pattern>/searchcontroller3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displaygamescontroller3</display-name>
    <servlet-name>displaygamescontroller3</servlet-name>
    <servlet-class>com.catp.cgc.controller.displaygamescontroller3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displaygamescontroller3</servlet-name>
    <url-pattern>/displaygamescontroller3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>playcontroller</display-name>
    <servlet-name>playcontroller</servlet-name>
    <servlet-class>com.catp.cgc.controller.playcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>playcontroller</servlet-name>
    <url-pattern>/playcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.catp.cgc.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>regController</display-name>
    <servlet-name>regController</servlet-name>
    <servlet-class>com.catp.cgc.controller.regController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regController</servlet-name>
    <url-pattern>/regController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayeridController</display-name>
    <servlet-name>PlayeridController</servlet-name>
    <servlet-class>com.catp.cgc.controller.PlayeridController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayeridController</servlet-name>
    <url-pattern>/PlayeridController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerscreenController</display-name>
    <servlet-name>CustomerscreenController</servlet-name>
    <servlet-class>com.catp.cgc.controller.CustomerscreenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerscreenController</servlet-name>
    <url-pattern>/CustomerscreenController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedBackController</display-name>
    <servlet-name>FeedBackController</servlet-name>
    <servlet-class>com.catp.cgc.controller.FeedBackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedBackController</servlet-name>
    <url-pattern>/FeedBackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellGameController</display-name>
    <servlet-name>SellGameController</servlet-name>
    <servlet-class>com.catp.cgc.controller.SellGameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellGameController</servlet-name>
    <url-pattern>/SellGameController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitialiser</display-name>
    <servlet-name>LoggerInitialiser</servlet-name>
    <servlet-class>com.catp.cgc.logger.LoggerInitialiser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitialiser</servlet-name>
    <url-pattern>/LoggerInitialiser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceController</display-name>
    <servlet-name>PriceController</servlet-name>
    <servlet-class>com.catp.cgc.controller.PriceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceController</servlet-name>
    <url-pattern>/PriceController</url-pattern>
  </servlet-mapping>
</web-app>